:root {
    --black: #000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/background.jpeg");
    background-position: center center;
    background-size: cover;
}


p,
.greeting,
.name {
    color: white;
}

h2 {
    color: mediumvioletred;
    margin: 1rem;
    text-align: center;
}

.profile-picture {
    height: 20rem;
    width: 22rem;
    border-radius: 10rem;
    border: solid 3px mediumvioletred;
    margin: 1rem;
}

.name {
    font-size: 1.5em;
}

.slogan {
    font-size: 2em;
    color: mediumvioletred;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070236;
    border-bottom: 1px solid mediumvioletred;
}

.logo {
    margin: 0.5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-links li a:hover {
    color: mediumvioletred;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 40px;
    margin-bottom: 20px;
}

.home-section {
    line-height: 2em;
    padding: 2em;
}

.home-section,
.about-text,
.recommendation {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #070236;
    border-radius: 5em;
    padding: 1em;
    box-shadow: 0 0 20px 5px rgba(255, 0, 225, 0.5);
    margin: 2em;
}

.recommendation {
    height: min-content;
    align-self: center;
    max-width: 20%;
    display: flex;
    flex-direction: column;
}

.about-text {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
}


.page-heading {
    margin-bottom: 4em;
    font-size: 2rem;
}

.language-container {
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex-grow: 1;
    /* Distribute remaining space equally */
    flex-basis: 150px;
    /* Initial size of the cards */
    background-color: white;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 10px;
    min-width: 100px;
    max-width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 0 20px 5px rgba(255, 0, 225, 0.5);
}

.language-logo {
    max-width: 100%;
    height: inherit;
    max-height: 70%;
}



@media (max-width: 400px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}